body
{
    margin: 0px;
    background-color:#F0F3F6;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('background.jpeg');
    background-repeat:no-repeat;
    background-size: cover;
    font-size:110%;
}

#wrapper
{
    margin-left:auto;
    margin-right:auto;
    padding:32px;
    width:1024px;
    height:100vh;
    background-color: #f1faee;
    opacity: 85%;
}

#wrapper h1
{
    font-weight:lighter;
    font-size:1em;
    color: #203F5E;
    background-color:#FFF;
    padding:16px;
    border-radius:24px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


#notification
{
    width:95%;
    margin-left:auto;
    margin-right:auto;
    border:2px solid green;
    color: green;
    background-color:rgb(206, 241, 206);
    font-size:1.5em;
    padding:16px;
    border-radius:8px;
    margin-bottom:16px;
}

#warning
{
    width:95%;
    margin-left:auto;
    margin-right:auto;
    border:2px solid rgb(216, 35, 35);
    background-color:rgb(252, 227, 0);
    font-size:1.5em;
    padding:16px;
    border-radius:8px;
    margin-bottom:16px;
    color:rgb(216, 35, 35);
}

button
{
    background-image: linear-gradient(to right, #059FEB, #20C2FB);
    padding:8px;
    border:0px hidden #000;
    border-radius:24px;
    font-weight:bold;
    color:#fff;
    font-size:1.1em;
    min-width:128px;
    margin-top:24px;
    text-transform:capitalize;
    height:42px;
}

.Toggable_Button
{
    background-image: none;
    background-color: transparent;
    padding:8px;
    margin:12px;
    min-width:128px;
    font-size:0.8em;
    color:black;
}

#navigation-bar
{
    padding-left:32px;
    text-align: center;
}

.navigation-bar-link
{
    text-decoration: none;
    font-size:1.25em;
    margin-right:16px;
    color:black;
    text-transform: uppercase;
}

.navigation-bar-link:hover
{
    border-bottom:1px solid #bbb;
}

.blogList-singleBlog
{
    text-decoration: none;
    border-bottom: 1px #ccc dashed;
    margin-bottom:16px;
    padding-bottom:8px;
}

.blogList-singleBlog a
{
    text-decoration: none;
    color:black;
}

.blogList-singleBlog a:hover
{
    text-decoration: underline;
}
table
{
    text-align:left;
    font-weight: normal;
}

table a
{
    text-decoration: none;
    color:black;
    font-weight: normal;
}

table a:hover
{
    text-decoration: underline;
}

#link-logout
{
    float:right;
    text-decoration:none;
    color:black;
}

#link-logout:hover
{
    text-decoration: underline;
}

#form-create-blog
{
    padding-left:32px;
    border:1px dotted #ccc;
    padding-bottom:16px;
}

.button-like-generic
{
    background-color: transparent;
    background-image: none;
    border:1px solid #ccc;
    margin-left:16px;
    font-size:0.9em;
    color:green;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
}

.button-like-generic:hover
{
    background-color: #eee;
}

.generic-h3
{
    margin-bottom:0px;
    padding-bottom:0px;
}

.generic-crunch
{
    font-weight:normal;
    font-size:0.8em;
    font-style:italic;
}

.blog-article-open
{
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    margin-top:32px;
}

.blog-article-open a
{
    font-size:1.2em;
    color:black;
    font-weight:bold;
}