body
{
    margin: 0px;
    background-color:#F0F3F6;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#wrapper
{
    margin-left:auto;
    margin-right:auto;
    padding:32px;
    width:800px;
    height:100vh;
    background-color: #f1faee;
}

#wrapper h1
{
    font-weight:lighter;
    font-size:1em;
    color: #203F5E;
    background-color:#FFF;
    padding:16px;
    border-radius:24px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.ListBlogTable
{
    width:100%;
}

.ListBlogTable th
{
    width:50%;
    font-style: italic;
    color:#555;
    border-bottom:1px solid #ccc;
}

#ListBlogTableHead
{
    width:100%;
}

#ListBlogTableHead th
{
    width:50%;
    color:#222;
    border-bottom:1px solid #ccc;
    text-transform: uppercase;
    font-size:1.3em;
}

#loginPrompt
{
    margin:32px;
    text-transform: capitalize;
}

#loginPrompt div
{
    margin:8px;
}

#create_new_blog
{
    padding:16px;
    border-radius:32px;
    margin-bottom:32px;
}

#create_new_blog div
{
    margin-bottom:8px;
    text-transform: capitalize;
    margin-left:16px;
}

#create_new_blog input
{
    margin-left:8px;
}

#notification
{
    width:95%;
    margin-left:auto;
    margin-right:auto;
    border:2px solid green;
    color: green;
    background-color:rgb(206, 241, 206);
    font-size:1.5em;
    padding:16px;
    border-radius:8px;
    margin-bottom:16px;
}

#warning
{
    width:95%;
    margin-left:auto;
    margin-right:auto;
    border:2px solid rgb(216, 35, 35);
    background-color:rgb(252, 227, 0);
    font-size:1.5em;
    padding:16px;
    border-radius:8px;
    margin-bottom:16px;
    color:rgb(216, 35, 35);
}

button
{
    background-image: linear-gradient(to right, #059FEB, #20C2FB);
    padding:16px;
    border:0px hidden #000;
    border-radius:24px;
    font-weight:bold;
    color:#fff;
    font-size:1.1em;
    min-width:128px;
    margin-top:24px;
    text-transform:capitalize;
}

.Toggable
{
    padding-bottom:0px;
}

.Toggable_Button
{
    background-image: linear-gradient(to right, #eb0505, #fa4747);
    padding:8px;
    margin:12px;
    min-width:32px;
    font-size:0.8em;
}